In [1]:
import pandas as pd
from tqdm import tqdm
from nltk.tokenize import RegexpTokenizer

In [14]:
dataframe = pd.read_csv('../Datasets/Stem/validity-punct-stop-stem.csv')
dataframe.head()

   sentiment                                               text
0          2  love pat one great voic gener listen cd year s...
1          2  despit fact play small portion game music hear...
2          0  bought charger jul 2003 work ok design nice co...
3          2  check maha energi websit powerex mhc204f charg...
4          2  review quit bit combo player hesit due unfavor...

In [15]:
dataframe=dataframe.dropna()
dataframe.count()

sentiment    400000
text         400000
dtype: int64

In [16]:
dataframe["text"]=dataframe["text"].str.lower()
dataframe.head()

   sentiment                                               text
0          2  love pat one great voic gener listen cd year s...
1          2  despit fact play small portion game music hear...
2          0  bought charger jul 2003 work ok design nice co...
3          2  check maha energi websit powerex mhc204f charg...
4          2  review quit bit combo player hesit due unfavor...

In [17]:
dataframe.count()

sentiment    400000
text         400000
dtype: int64

In [6]:
tokenizer = RegexpTokenizer(r'\w+')
word_info = {} # { "word" : [id,  numar_de_aparitii_in_exemple_pozitive, numar_de_aparitii_in_exemple_negative]}

for i, row in tqdm(dataframe.iterrows(), total=len(dataframe)):
  review = row['text']
  tokens = tokenizer.tokenize(review)

  for tok in tokens:
    if tok not in word_info:
      word_info[tok] = [-1, 0, 0] # [id,  numar_de_aparitii_in_exemple_pozitive, numar_de_aparitii_in_exemple_negative]

    if row['sentiment'] == 2:
      word_info[tok][1] += 1
    else:
      word_info[tok][2] += 1

print(len(word_info))

100%|███████████████████████████████| 3199993/3199993 [09:08<00:00, 5830.19it/s]

1806322

In [7]:
to_be_deleted = []

for word in word_info:
  pos_appearances = word_info[word][1]
  neg_appearances = word_info[word][2]
  total_appearances = pos_appearances + neg_appearances

  if total_appearances < 1000: 
    to_be_deleted.append(word)

for elem in to_be_deleted:
  del word_info[elem]

print(len(word_info))

7215

In [8]:
print(len(word_info))

7215

In [9]:
def clean_df(a):
    a_token=a.lower().split()
    
    str1=""
    for tk in a_token:
        if tk not in word_info.keys():
            continue
        else:
            str1 += tk+" "
            
    return str1

In [18]:
dataframe['text'] = dataframe['text'].apply(lambda x: clean_df(x))

In [19]:
dataframe=dataframe.dropna()
dataframe.count()

sentiment    400000
text         400000
dtype: int64

In [20]:
dataframe.count()

sentiment    400000
text         400000
dtype: int64

In [21]:
dataframe.head()
dataframe.to_csv("../Datasets/Stem-Cuvinte-Eliminate/test-punct-stop-stem-1000.csv",index=False)

In [ ]:
dataframe.head()

In [ ]:
print(word_info.keys())

In [ ]:
import pickle

In [ ]:
with open("../Datasets/Stem-Cuvinte-Eliminate/cuvinte.pkl", "wb") as pkl_handle:
	pickle.dump(word_info, pkl_handle)

In [ ]:
with open("../Datasets/Stem-Cuvinte-Eliminate/cuvinte.pkl", "rb") as pkl_handle:
	output = pickle.load(pkl_handle)

In [ ]:
print(len(output.keys()))