In [1]:
import pandas as pd
import string

In [18]:
dataframe = pd.read_csv('../Datasets/validity.csv')
dataframe.head()

   sentiment                                               text
0          0  This CD is horrible!! I wish I could take it b...
1          0  There's no in between with this thing, I eithe...
2          0  Loved the layout ease of use, but it locked up...
3          0  A significant proportion of this book is dedic...
4          0  THE QUALITY OF THE DVD MADE IT IMPOSSIBLE TO W...

In [19]:
dataframe=dataframe.dropna()
dataframe.count()

sentiment    400000
text         400000
dtype: int64

In [20]:
dataframe.head()

   sentiment                                               text
0          0  This CD is horrible!! I wish I could take it b...
1          0  There's no in between with this thing, I eithe...
2          0  Loved the layout ease of use, but it locked up...
3          0  A significant proportion of this book is dedic...
4          0  THE QUALITY OF THE DVD MADE IT IMPOSSIBLE TO W...

In [21]:
def clean_punct(a):        
    return a.lower().translate(str.maketrans('', '', string.punctuation))

In [22]:
dataframe["text"] = dataframe["text"].apply(lambda x: clean_punct(x))

In [23]:
dataframe.head()

   sentiment                                               text
0          0  this cd is horrible i wish i could take it bac...
1          0  theres no in between with this thing i either ...
2          0  loved the layout ease of use but it locked up ...
3          0  a significant proportion of this book is dedic...
4          0  the quality of the dvd made it impossible to w...

In [24]:
dataframe=dataframe.dropna()

In [25]:
dataframe.head()
dataframe.to_csv("../Datasets/No-Punct/validity-punct.csv",index=False)