In [1]:
import pandas as pd
from nltk.stem import LancasterStemmer

In [2]:
dataframe = pd.read_csv('../Datasets/No-Punct/train-punct.csv')
dataframe.head()

   sentiment                                               text
0          2  this sound track was beautiful it paints the s...
1          2  im reading a lot of reviews saying that this i...
2          2  this soundtrack is my favorite music of all ti...
3          2  i truly like this soundtrack and i enjoy video...
4          2  if youve played the game you know how divine t...

In [3]:
dataframe=dataframe.dropna()
dataframe.count()

sentiment    3199999
text         3199999
dtype: int64

In [4]:
dataframe.head()

   sentiment                                               text
0          2  this sound track was beautiful it paints the s...
1          2  im reading a lot of reviews saying that this i...
2          2  this soundtrack is my favorite music of all ti...
3          2  i truly like this soundtrack and i enjoy video...
4          2  if youve played the game you know how divine t...

In [5]:
stopwords=['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y']
stopwords_neg=['no', 'nor', 'not', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't" , "don", "that'll"]
print(stopwords)
print(stopwords_neg)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y']
['no', 'nor', 'not', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't", 'don', "that'll"]

In [6]:
lancaster=LancasterStemmer()

In [9]:
def clean_stop(a):
    a_token=a.split()
    
    str1=""
    for tk in a_token:
        if tk in stopwords:
            continue
        else:
            str1 += lancaster.stem(tk)+" "
            
    return str1

In [ ]:
dataframe["text"] = dataframe["text"].apply(lambda x: clean_stop(x))

In [26]:
dataframe.head()

   sentiment                                               text
0          0  cd horrible wish could take back best buy leto...
1          0  theres no thing either get nothingand laptop t...
2          0  loved layout ease use locked time giving usb e...
3          0  significant proportion book dedicated producin...
4          0  quality dvd made impossible watch way return h...

In [27]:
dataframe=dataframe.dropna()

In [28]:
dataframe.head()
dataframe.to_csv("../Datasets/No-Stop/validity-punct-stop.csv",index=False)