In [57]:
import pandas as pd
import string
import numpy as np

from keras.preprocessing.sequence import pad_sequences
from nltk.stem import PorterStemmer

In [58]:
porter=PorterStemmer()

In [81]:
def clean_punct(a):        
    return a.lower().translate(str.maketrans('', '', string.punctuation))

In [129]:
#df = pd.read_csv("../Datasets/Standard/test.csv",header=0)
#df=df.sample(1000)
df = pd.read_csv("./Sentiment.csv",header=0)
df=df.dropna()

In [130]:
df.head(10)

   sentiment                                               text
0          0  One trucker committed to staying opted to resi...
1          1  Rescue workers in Florida saved a dog that got...
2          0  A California man is in federal custody after h...
3          0  Juan Remberto Rivas, 50, had to be subdued by ...
4          1  "I met Prince Harry," she captioned the post. ...
5          0  In a new episode of Fox Nation’s "Crime Storie...
6          0  The US president also warned the American econ...
7          1  The win will give PSG hope that they can head ...
8          0  PJ O'Rourke, a best-selling American satirist,...

In [131]:
df = df[df.sentiment != "Neutral"]

In [132]:
df.head()

   sentiment                                               text
0          0  One trucker committed to staying opted to resi...
1          1  Rescue workers in Florida saved a dog that got...
2          0  A California man is in federal custody after h...
3          0  Juan Remberto Rivas, 50, had to be subdued by ...
4          1  "I met Prince Harry," she captioned the post. ...

In [133]:
df["text"] = df["text"].str.lower()
df["text"] = df["text"].apply(lambda x: clean_punct(x))

In [134]:
stopwords=['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y']

In [135]:
def clean_stop(a):
    a_token=a.split()
    
    str1=""
    for tk in a_token:
        if tk in stopwords:
            continue
        else:
            str1 += tk+" "
            
    return str1

In [136]:
df["text"] = df["text"].apply(lambda x: clean_stop(x))

In [137]:
def clean_stem(a):
    a_token=a.split()
    
    str1=""
    for tk in a_token:
            str1 += porter.stem(tk)+" "
            
    return str1

In [138]:
df["text"] = df["text"].apply(lambda x: clean_stem(x))

In [139]:
import pickle
with open("./cuvinte.pkl", "rb") as pkl_handle:
	word_info = pickle.load(pkl_handle)

In [140]:
df["text"]

0    one trucker commit stay opt resign compani sus...
1    rescu worker florida save dog got stuck deep h...
2    california man feder custodi allegedli tri ope...
3    juan remberto riva 50 subdu passeng flight att...
4    met princ harri caption post love even curtsi ...
5    new episod fox nation’ crime stori nanci grace...
6    us presid also warn american economi could suf...
7    win give psg hope head madrid wednesday 9 marc...
8    pj orourk bestsel american satirist columnist ...
Name: text, dtype: object

In [141]:
X_train = df['text']
y_train = df['sentiment'].values

In [142]:
X_train

0    one trucker commit stay opt resign compani sus...
1    rescu worker florida save dog got stuck deep h...
2    california man feder custodi allegedli tri ope...
3    juan remberto riva 50 subdu passeng flight att...
4    met princ harri caption post love even curtsi ...
5    new episod fox nation’ crime stori nanci grace...
6    us presid also warn american economi could suf...
7    win give psg hope head madrid wednesday 9 marc...
8    pj orourk bestsel american satirist columnist ...
Name: text, dtype: object

In [143]:
train_labels=[]
for i in range(0,len(y_train)):
    train_labels.append([0,0])

In [144]:
for i in range(0,len(y_train)):
    if y_train[i] == 0:
        train_labels[i][0]=1
    else:
        train_labels[i][1]=1

In [145]:
train_labels=np.array(train_labels)

In [146]:
import pickle
with open('tokenizer-200.pickle', 'rb') as handle:
    tokenizer = pickle.load(handle)

In [147]:
X_train = tokenizer.texts_to_sequences(X_train)
X_train = pad_sequences(X_train, maxlen = 128)

In [148]:
print(X_train[0])
print(train_labels[0])

[    0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     3
 14747  2217   326  4365 11588   339  4946  5105]
[1 0]

In [149]:
from tensorflow import keras
model = keras.models.load_model('./Model-200/')

WARNING:tensorflow:Layer lstm will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.

In [150]:
model.evaluate(X_train, train_labels)

WARNING:tensorflow:Model was constructed with shape (None, 209) for input KerasTensor(type_spec=TensorSpec(shape=(None, 209), dtype=tf.float32, name='embedding_input'), name='embedding_input', description="created by layer 'embedding_input'"), but it was called on an input with incompatible shape (None, 128).
1/1 [==============================] - 1s 805ms/step - loss: 0.8130 - accuracy: 0.5556

[0.8130327463150024, 0.5555555820465088]

In [153]:
results=model.predict(X_train)

In [165]:
for i in range(0,len(y_train)):
    print(str(i)+"     "+str(results[i]) + "  ---  " + str(y_train[i])  +"   "+ str(df.text[i]))

[0.6536425 0.3463575]  ---  0   one trucker commit stay opt resign compani suspend monday
[0.03349584 0.9665042 ]  ---  1   rescu worker florida save dog got stuck deep hole fortun dog reportedli friendli happi see firefight descend hole
[0.91887313 0.08112682]  ---  0   california man feder custodi allegedli tri open plane exit door middl crosscountri flight sunday told flight attend go bring plane accord affidavit
[0.08304 0.91696]  ---  0   juan remberto riva 50 subdu passeng flight attend zip tie tape face one count assault intimid flight attend
[0.1441069 0.8558931]  ---  1   met princ harri caption post love even curtsi track suit
[0.1308427  0.86915725]  ---  0   new episod fox nation’ crime stori nanci grace podcast’ host guest attempt unravel chill stori michigan mother told polic cartoon charact spongebob squarep instruct stab kill 3yearold daughter
[0.32289636 0.67710364]  ---  0   us presid also warn american economi could suffer disrupt energi suppli sharp price increas like event sanction levi russia respons invas ukrain
[0.56194353 0.43805647]  ---  1   win give psg hope head madrid wednesday 9 march get result need keep aliv hope win first champion leagu titl
[0.8695415  0.13045847]  ---  0   pj orourk bestsel american satirist columnist polit comment die age 74

In [ ]:
for i in range(0,len(y_train)):
    print(str(i)+"    "+str(df.text[i]))

In [ ]:
model.predict(X_train)

In [56]:
df.head(10)

   sentiment                                               text
0          0                    one commit stay suspend monday
1          1  worker florida save dog got stuck deep hole do...
2          0  california man open plane exit door flight sun...
3          0  50 flight attend zip tie tape face one count a...
4          1                     met post love even track suit
5          0  new fox crime grace host guest attempt chill m...
6          0  us also warn american could suffer sharp price...