In [1]:
import pandas as pd
from tqdm import tqdm
from nltk.tokenize import RegexpTokenizer

In [22]:
dataframe = pd.read_csv('../Datasets/train.csv')
dataframe.head()

   sentiment                                               text
0          2  This sound track was beautiful! It paints the ...
1          2  I'm reading a lot of reviews saying that this ...
2          2  This soundtrack is my favorite music of all ti...
3          2  I truly like this soundtrack and I enjoy video...
4          2  If you've played the game, you know how divine...

In [23]:
dataframe.count()
dataframe["text"]=dataframe["text"].str.lower()
dataframe.head()

   sentiment                                               text
0          2  this sound track was beautiful! it paints the ...
1          2  i'm reading a lot of reviews saying that this ...
2          2  this soundtrack is my favorite music of all ti...
3          2  i truly like this soundtrack and i enjoy video...
4          2  if you've played the game, you know how divine...

In [24]:
tokenizer = RegexpTokenizer(r'\w+')
word_info = {} # { "word" : [id,  numar_de_aparitii_in_exemple_pozitive, numar_de_aparitii_in_exemple_negative]}

for i, row in tqdm(dataframe.iterrows(), total=len(dataframe)):
  review = row['text']
  tokens = tokenizer.tokenize(review)

  for tok in tokens:
    if tok not in word_info:
      word_info[tok] = [-1, 0, 0] # [id,  numar_de_aparitii_in_exemple_pozitive, numar_de_aparitii_in_exemple_negative]

    if row['sentiment'] == 2:
      word_info[tok][1] += 1
    else:
      word_info[tok][2] += 1

print(len(word_info))

100%|███████████████████████████████| 3200000/3200000 [15:18<00:00, 3484.32it/s]

871014

In [35]:
to_be_deleted = []

for word in word_info:
  pos_appearances = word_info[word][1]
  neg_appearances = word_info[word][2]
  total_appearances = pos_appearances + neg_appearances

  if total_appearances < 1000: 
    to_be_deleted.append(word)

for elem in to_be_deleted:
  del word_info[elem]

print(len(word_info))

9953

In [36]:
print(len(word_info))

9953

In [37]:
def clean_df(a):
    a_token=a.lower().split()
    
    str1=""
    for tk in a_token:
        if tk not in word_info.keys():
            continue
        else:
            str1 += tk+" "
            
    return str1

In [38]:
dataframe['text'] = dataframe['text'].apply(lambda x: clean_df(x))

In [39]:
dataframe.head()
dataframe.to_csv("../Datasets/train-1000.csv")