In [1]:

import numpy as np
import pandas as pd

In [10]:
# Read data
# dataset = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/train.csv",names=['sentiment',"a",'text'])
# dataset=dataset.drop("a",axis=1)

dataset = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/test.csv",names=['sentiment','text'])

dataset.head()

   sentiment                                               text
0          1  My lovely Pat has one of the GREAT voices of h...
1          1  Despite the fact that I have only played a sma...
2          0  I bought this charger in Jul 2003 and it worke...
3          1  Check out Maha Energy's website. Their Powerex...
4          1  Reviewed quite a bit of the combo players and ...

In [19]:
dataset_poz=dataset.loc[dataset['sentiment'].isin([1])] ##  train - 2 test -1 e pozitiv
dataset_neg=dataset.loc[dataset['sentiment'].isin([0])] ##  train - 1 test -0 e negativ

In [23]:
dataset_neg.count()

sentiment    200000
text         200000
dtype: int64

In [22]:
dataset_poz.count()

sentiment    200000
text         200000
dtype: int64

In [8]:
# import nltk
# nltk.download('stopwords')
# from nltk.corpus import stopwords
# print(stopwords.words('english'))

stopwords=['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y']
stopwords_neg=['no', 'nor', 'not', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't" , "don", "that'll"]
print(stopwords)
print(stopwords_neg)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y']
['no', 'nor', 'not', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't", 'don', "that'll"]

In [24]:
phrase_len = dataset_neg["text"].apply(lambda p: p.lower().split(' '))

In [ ]:
kstopwords_count=0;
for i in phrase_len:
    for j in i:
        if j in stopwords:
                stopwords_count+=1
print(stopwords_count)

In [25]:
stopwords_neg_count=0;
for i in phrase_len:
    for j in i:
        if j in stopwords_neg:
                stopwords_neg_count+=1
print(stopwords_neg_count)

250660